<%- include('../partials/_navbar.ejs') %>
<div class="card bg-light border-0 h-100">
  <div class="card-body text-center col-xs-4">
    <h1>Create a new account!</h1>
    <form action="/auth/signup" method="POST">
      <label for="username" class="control-label col-sm-2">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        class="col-xs-4"
      /><br /><br />
      <label for="password" class="control-label col-sm-2">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        class="col-xs-4"
      /><br /><br />
      <label for="confirmPassword" class="control-label col-sm-2"
        >Confirm Password:</label
      >
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="col-xs-4"
      /><br /><br />
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
<%- include('../partials/_footer.ejs') %>
