<%- include('../partials/_navbar.ejs') %>

<div class="card bg-light border-0 h-100">
  <div class="card-body text-center col-xs-4">
    <h2>Sign in</h2>
    <form action="/auth/signin" method="POST">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        class="col-xs-4"
        placeholder="Enter Username"
      /><br /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        class="col-xs-4"
        placeholder="Enter password"
      /><br /><br />
      <button type="submit">Sign in</button>
    </form>
  </div>
</div>
<%- include('../partials/_footer.ejs') %>
